[submodule "pack/plugins/opt/onedark.vim"]
	path = pack/plugins/opt/onedark.vim
	url = git@ssh.github.com:joshdick/onedark.vim
[submodule "pack/plugins/opt/vim-afterglow"]
	path = pack/plugins/opt/vim-afterglow
	url = git@ssh.github.com:danilo-augusto/vim-afterglow
[submodule "pack/plugins/opt/dracula"]
	path = pack/plugins/opt/dracula
	url = git@ssh.github.com:dracula/vim
